$translucent-white: rgba(255, 255, 255, 0.3);
$icon-square-length: 150px;


.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.banner {
    height: 100vh;
}

.name {
    transform: translate(-50%, -43%);
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    max-width: 225px;
}

.contact {

    background-color: rgb(139, 103, 103);

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    i {
        left: -5%;
    }
}



// .aboutMe {
//     // display: flex;
//     background-color: rgb(248, 215, 66);

//     position: fixed;
//     z-index: 100;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;

//     h1 {
//         margin-top: 8%;
//         margin-left: 1%;
//     }
// }

.carousel {
    position: relative;
    // width: 30%;
    left: 50%;

    .carousel-item {
        width: 30%;
        height: 40%;
    }
}

.story {

    // position: fixed;
    // margin-top: 3%;
    // width: 50%;
    // height: 40%;
    line-height: 165%;
}



#portafolio {
    background: red;
    // left: 40%;
    // position: fixed;
    font-size: auto;
    padding: 3%;
}


.spinner {
    width: 100px;
    height: 100px;
    background: #eeeeee;
    border-radius: 50%;
    position: relative;
    display: inline-block;

    &:after,
    &:before {
        content: '';
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;

    }
}


.spinner:after {
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid transparent;
    border-top-color: orangered;
    border-bottom-color: orangered;
    animation: spinny 1s linear infinite;
}

@keyframes spinny {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(45deg) scale(1.2)
    }

    100% {
        transform: rotate(360deg) scale(1.1)
    }

}





@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

$background: linear-gradient(to bottom, #dcf30d 0%, #f1e042 100%);
$red: #e55643;
$green: #2b9f5e;
$yellow: #f1843c;
$shadow: #533d4a;

html {
    height: 100%;
}

body {
    font-family: 'Fjalla One', sans-serif;
    background: $background;
}

.container {
    // transform: translate(30%, 30%);

    // display: block;
    // position: absolute;
    // display: flex;

        text-align: center;
        // justify-content: center;
margin-top:15%;

    // max-width: 50%;

    // .span {
    //     left: 45%;
    // }
}


h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 42px;
    margin: 0;
    line-height: 47px;
    letter-spacing: 2px;
}

.title {
    transform: translateX(-50%) rotate(-10deg);
    display: block;
    float: left;
    left: 50%;
    position: relative;

    span {
        transform: skew(-10deg);
        display: block;
        float: left;
        text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px, $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
        min-width: 10px;
        min-height: 10px;
        position: relative;
    }
}

.title {
    &:nth-child(1) {
        color: $red;
    }

    &:nth-child(2) {
        color: $green;
    }

    &:nth-child(3) {
        color: $yellow;
    }
}